@font-face {
    font-family: Montserrat;
    src: url("./Montserrat-Regular.ttf");
}
* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}

nav#largeNav {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

nav#largeNav #brand-logo {
    height: 30px;
    width: 30px;
}

nav#largeNav .brand {
    display: flex;
    align-items: center;
}

nav#largeNav .brand > div {
    margin-right: 10px;
}

nav#largeNav .nav-links {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
}

nav#largeNav .nav-links a {
    text-decoration: none;
    font-size: 11px;
    color: #707070;
}

nav#largeNav .nav-links li {
    padding-left: 20px;
    padding-right: 20px;
}

.active {
    background: rgba(79,117,226, 0.77);
    border-radius: 22px;
    color: white!important;
    padding: 10px;
}

main section.topContent {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    flex-wrap: wrap;
}

main section.topContent .main-content {
    text-transform: uppercase;
    color: #4F75E2;
    font-size: 26px;
}

main section.topContent .sub-content {
    color: #707070;
    font-size: 13px;
}

main section.title {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

main .sub-title {
    color: #4F75E2;
    text-align: center;
    margin-top: 20px;
}

main .cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    flex-wrap: wrap;
}

.cards > .card {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 33.33%;
}

.cards > .card .card-title {
    text-transform: uppercase;
    color: #4F75E2;
    font-size: 15px;
    padding-top: 14px;
}

.cards > .card .card-subtext {
    color: #707070;
    font-size: 13px;
    padding-top: 14px;
}

.card img {
    width: 90px;
}

@media all and  (max-width: 733px) {
    .cards > .card {
        width: 50%;
    }
}

@media all and  (max-width: 566px) {
    body {
        position: absolute;
    }
}

section.topContent img {
    width: 100%;
}

section.topContent .topContentImg {
    width: 45%;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.transferModalTitle {
    text-align: center;
    color: #4F75E2;
    text-transform: uppercase;
    font-size: 20px;
}

.transferModalForm form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.transferModalForm form select, .transferModalForm form input {
    width: 100%;
    border-left: hidden;
    border-right: hidden;
    border-top: hidden;
    border-bottom: 1px solid #707070;
    margin-top: 30px;
}

.transferModalForm form button[type="submit"] {
    color: #fff;
    background: rgba(79,117,226, 0.77);
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    border: 1px solid rgba(79,117,226, 0.77);
    margin-top: 20px;
    width: 80px;
    border-radius: 60px;
}


#smallNav {
    display: none;
}

#toggler-btn {
    display: none;
}

@media all and (max-width: 798px) {

    .smallNavList {
        display: flex;
        flex-direction: column;
        width: 100%;
        list-style-type: none;
        padding: 0;
    }

    .smallNavList a {
        text-decoration: none;
        color: #ffffff;
    }

    .smallNavList > li {
        background: rgba(79,117,226, 0.77);
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #bigNavLinks {
        display: none;
    }

    #toggler-btn {
        display: block;
    }

    .activeSmallNav {
        background: #ffffff!important;
        border-top: 1px solid #4F75E2;
    }

    .activeSmallNav > a {
        color: #4F75E2!important;
    }
}
